<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.mapper.CheciMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.entity.Checi">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="type" property="type" />
        <result column="bsite" property="bsite" />
        <result column="esite" property="esite" />
        <result column="btime" property="btime" />
        <result column="etime" property="etime" />
        <result column="isdel" property="isdel" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, type, bsite, esite, btime, etime, isdel
    </sql>

</mapper>
